[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pyyaml = "*"
psycopg2 = "*"
bluepy = "*"
mitemp-bt = {path = "./../mitemp/dist/mitemp_bt-0.0.1.tar.gz"}

[requires]
python_version = "3.7"
